{% if is_paginated %}
<nav aria-label="Search results pages">
    <ul class="pagination">
   {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page=1">First</a></li>
        <li class="page-item"><a  class="page-item" href="?page={{ page_obj.previous_page_number }}"> <<< </a></li>
   {% endif %}

   {% for num in page_obj.paginator.page_range %}
       {% if page_obj.number == num %}
        <li class="page-item"><a>{{ num }}</a></li>
       {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
        <li class="page-item"><a href="?page={{ num }}">{{ num }}</a></li>
       {% endif %}
   {% endfor %}

   {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}">>>></a></li>
        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
   {% endif %}
   </ul>
</nav>

{% endif %}